{% if headlines %}
<div class="column">
    <h3>Game recap for {{title}}</h3>
    <ul>
    {% for article in headlines %}
        {% if article.video %}
            <li>
                <div class="video">
                    {% with article.video|first as video %}
                    <div id="{{video.id}}">
                    {% endwith %}
                    {% with article.images|first as image %}
                        <img src="{{image.url}}" alt="{{image.caption}}">
                    {% endwith %}
                    </div>
                </div>
                <a href="{{article.links.web.href}}">
                    {% with article.images|first as image %}
                        <img class="video-thumbnail" src="{{image.url}}" alt="{{image.caption}}">
                    {% endwith %}
                    {{article.headline}}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{article.links.web.href}}">
                    {% with article.images|first as image %}
                        {% if image.width >= 576 %}
                            <img src="{{image.url}}" alt="{{image.caption}}">
                        {% endif %}
                    {% endwith %}
                    {{article.headline}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}