{% if game.get_tweets %}
<div class="column">
    <div class="twitter-timeline">
        <h4>Tweets about KU vs {{team.name}}</h4>
        <div class="tweets">
            {% for tweet in game.get_tweets %}
            <div class="tweet">
                <div class="tweet-image">
                    <img src="{{tweet.user.profile_image_url_https}}">
                </div>
                <div class="tweet-profile">
                    <p class="time">{{tweet.created_at|date:"M d"}}</p>
                    <p>
                        <span class="profile"><strong>{{tweet.user.name}}</strong></span>
                        <span class="handle">@{{tweet.user.screen_name}}</span>
                    </p>
                    <p>{{tweet.text|safe}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}