<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/jayhawks.css" />
        <link rel="icon" href="{{STATIC_URL}}/images/favicon.ico" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <img src="{{STATIC_URL}}/images/ku-header.jpg" alt="Kansas Jayhawks 2013-14 Basketball Schedule" />
                <h1><a href="/schedule/">Kansas Jayhawks 2013-14 Basketball Schedule</a></h1>
            </div>
            <div id="content">
            {% block content %}
            {% endblock %}
            </div>
            <div id="footer">
                <a href="webcal://jayhawkschedule.co/schedule/ical">iCal</a>
                <strong>&copy; <?php echo date("Y"); ?> Jesse Overright</strong>
            </div>
        </div>
    </body>
</html>