<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/jayhawks.css" />
        <link rel="icon" href="{{STATIC_URL}}images/favicon.ico" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <img src="{{STATIC_URL}}/images/ku-header.jpg" alt="Kansas Jayhawks 2013-14 Basketball Schedule" />
                <h1><a href="/">Kansas Jayhawks 2013-14 Basketball Schedule</a></h1>
            </div>
            <div id="content">
            {% block content %}
            {% endblock %}
            </div>
            <div id="footer">
                Subscribe to <a href="webcal://jayhawkschedule.co/ical">iCal</a>
                <strong>&copy; <?php echo date("Y"); ?> Jesse Overright</strong>
                <br>Built with the <a href="http://espn.go.com/"><img src="{{STATIC_URL}}/images/espn-red_50.png" alt="Powered by ESPN API"></a> API
            </div>
        </div>
    </body>
</html>