{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="single-game">
    <div class="header">
        <h2>
        {% if game.location == "Allen Fieldhouse, Lawrence, KS" %}
            {% if game.team_color %}
                <span style="color:#{{game.team_color}}">
            {% endif %}
            {{game.opponent}} {{game.mascot}}
            {% if game.team_color %}
                </span>
            {% endif %}
            at Kansas Jayhawks
        {% else %}
            Kansas Jayhawks vs
            {% if game.team_color %}
                <span style="color:#{{game.team_color}}">
            {% endif %}
            {{game.opponent}} {{game.mascot}}
            {% if game.team_color %}
                </span>
            {% endif %}
        {% endif %}
        </h2>
        {% if game.result %}
            <h2 class="final-score {{game.result}}">{{game.score}} - {{game.opponent_score}}</h2>
        {% endif %}
    </div>
    {% if game.team_videos %}
        <div class="left-column">
            <h3>ESPN video for {{game.opponent}} {{game.mascot}}</h3>
            
            {% for video in game.team_videos %}
                <div class="video"><script src="http://player.espn.com/player.js?playerBrandingId=4ef8000cbaf34c1687a7d9a26fe0e89e&amp;adSetCode=91cDU6NuXTGKz3OdjOxFdAgJVtQcKJnI&amp;pcode=1kNG061cgaoolOncv54OAO1ceO-I&amp;externalId=espn:{{video.id}}&amp;thruParam_espn-ui[autoPlay]=false&amp;thruParam_espn-ui[playRelatedExternally]=true"></script></div><p><a href="{{video.links.web.href}}">{{video.headline}}</a></p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="right-column">
        <h3 class="date">{{game.date}}
        {% if game.television %}
            on {{game.television}}
        {% endif %}
        </h3>
        <h3 class="location">{{game.location}}</h3>

        {% if game.espn_link %}
            <br /><h3><a href="{{game.espn_link}}">{{game.mascot}} ESPN Team Page</a></h3>
        {% endif %}
        
        {% if game.team_news %}
            <br /><br /><h3>ESPN News for {{game.opponent}} {{game.mascot}}</h3>
            <ul>
            {% for article in game.team_news %}
                <li><a href="{{article.links.web.href}}">{{article.headline}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}