{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="single-game">
    <div class="content-header">
        <h2>
        {% if game.location == "Allen Fieldhouse, Lawrence, KS" %}
            {% if game.get_team_color %}
                <span style="color:#{{game.get_team_color}}">
            {% endif %}
            {{game.opponent}} {{game.mascot}}
            {% if game.get_team_color %}
                </span>
            {% endif %}
            at Kansas Jayhawks
        {% else %}
            Kansas Jayhawks vs
            {% if game.get_team_color %}
                <span style="color:#{{game.get_team_color}}">
            {% endif %}
            {{game.opponent}} {{game.mascot}}
            {% if game.get_team_color %}
                </span>
            {% endif %}
        {% endif %}
        </h2>
        {% if game.get_result %}
            <h2 class="final-score {{game.get_result}}">{{game.score}} - {{game.opponent_score}}</h2>
        {% endif %}
    </div>
    {% if game.team_videos %}
        <div class="column">
            <h3>ESPN video for {{game.opponent}} {{game.mascot}}</h3>
            
            <ul>
            {% for video in game.team_videos %}
                <li>
                    <div class="video"><script src="http://player.espn.com/player.js?playerBrandingId=4ef8000cbaf34c1687a7d9a26fe0e89e&adSetCode=91cDU6NuXTGKz3OdjOxFdAgJVtQcKJnI&pcode=1kNG061cgaoolOncv54OAO1ceO-I&externalId=espn:{{video.id}}&thruParam_espn-ui[autoPlay]=false&thruParam_espn-ui[playRelatedExternally]=true"></script></div>
                    <a href="{{video.links.web.href}}">
                        {% with video.images|first as image %}
                            <img class="video-thumbnail" src="{{image.url}}">
                        {% endwith %}
                        {{video.headline}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="column">
        <h3 class="date">{{game.date}}
        {% if game.television %}
            on {{game.television}}
        {% endif %}
        </h3>
        <h3 class="location">{{game.location}}</h3>

        {% if game.get_espn_link %}
            <br /><h3><a href="{{game.get_espn_link}}">{{game.mascot}} ESPN Team Page</a></h3>
        {% endif %}
        
        {% if game.team_news %}
            <br /><h3>ESPN News for {{game.opponent}} {{game.mascot}}</h3>
            <ul>
            {% for article in game.team_news %}
                <li>
                    <a href="{{article.links.web.href}}">
                        {% with article.images|first as image %}
                            {% if image.width >= 576 %} 
                                <img src="{{image.url}}">
                            {% endif %}
                        {% endwith %}
                        {{article.headline}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="column">
        {% if game.get_team_tweets %}
            <div class="twitter-timeline">
                <h4>Tweets about {{game.opponent}} {{game.mascot}}</h4>
                <div class="tweets">
                    {% for tweet in game.get_team_tweets %}
                    <div class="tweet">
                        <div class="tweet-image">
                            <img src="{{tweet.user.profile_image_url_https}}">
                        </div>
                        <div class="tweet-profile">
                            <p class="time">{{tweet.created_at|date:"M d"}}</p>
                            <p>
                                <span class="profile"><strong>{{tweet.user.name}}</strong></span>
                                <span class="handle">@{{tweet.user.screen_name}}</span>
                            </p>
                            <p>{{tweet.text|safe}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}