{% extends 'base.html' %}

{% block title %} Kansas Jayhawks Basketball Schedule {% endblock %}

{% block content %}
    <div class="content-header">
        <h2>Record: {{record.wins}}-{{record.losses}}</h2>
        {% if next_game != False %}
            <h3>Next Game: <a href="{{next_game.get_absolute_url}}">{{next_game.opponent.get_colored_name | safe}}</a></h3>
        {% endif %}
    </div>
    {% for game in games %}
    <div class="game">
        {% if game.get_result %}
            <h2 class="final-score {{game.get_result}}">{{game.score}} - {{game.opponent_score}}</h2>
        {% endif %}
        <h2><a href="{{game.get_absolute_url}}">{{game.opponent.get_colored_name | safe}}</a></h2>
        <p><span class="game-type">{{game.game_type}}</span>{{game.date}} 
        {% if game.television %}
            on {{game.television}}
        {% endif %}
        </p>
    </div>
    {% endfor %}
{% endblock %}
