{% extends 'base.html' %}

{% block title %} Kansas Jayhawks Basketball Schedule {% endblock %}

{% block content %}
    <div class="content-header main-header">
        <h2>Record: {{record.wins}}-{{record.losses}} ({{record.conference_wins}}-{{record.conference_losses}})</h2>
        {% if next_game != False %}
            <p>
                Next Game: <a href="{{next_game.get_absolute_url}}">{{next_game.opponent.get_styled_name | safe}}</a>
                <br />{{next_game.date|date:"l, F jS g:i a"}}
            </p>
        {% endif %}
    </div>
    {% for game in games %}
    <div class="game">
        {% if game.get_result %}
            <div class="final-score {{game.get_result}}">{{game.score}} - {{game.opponent_score}}</div>
        {% endif %}
        <h2><a href="{{game.get_absolute_url}}">{{game.opponent.get_styled_name | safe}}</a></h2>
        <p><span class="game-type">{{game.game_type}}</span>{{game.date|date:"g:i a l, N j, Y"}}
        {% if game.television %}
            on {{game.television}}
        {% endif %}
        </p>
    </div>
    {% endfor %}
{% endblock %}
