{% extends 'base.html' %}

{% block title %} Kansas Jayhawks Basketball Schedule {% endblock %}

{% block content %}
    <div class="content-header"><h2>{{record.wins}}-{{record.losses}}</h2></div>
    {% for game in games %}
    <div class="game">
        {% if game.get_result %}
            <h2 class="final-score {{game.get_result}}">{{game.score}} - {{game.opponent_score}}</h2>
        {% endif %}
        <h2><a href="{{game.get_absolute_url}}">
        {% if game.opponent.color %}
            <span style="color:#{{game.opponent.color}}">
        {% endif %}
        {{game.opponent}}
        {% if game.opponent.color %}
            </span>
        {% endif %}
        </a></h2>
        <p><span class="game-type">{{game.game_type}}</span>{{game.date}} 
        {% if game.television %}
            on {{game.television}}
        {% endif %}
        </p>
    </div>
    {% endfor %}
{% endblock %}
