{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="content-header">
        <h2>{{team.get_styled_name | safe}}</h2>
        {% if team.get_ranking %}
        <h3>Offensive Rank: {{team.get_offensive_rank}} ({{team.get_offensive_efficiency|floatformat:3}} ppp)</h3>
        <h3>Defensive Rank: {{team.get_defensive_rank}} ({{team.get_defensive_efficiency|floatformat:3}} ppp)</h3>
        {% endif %}
    </div>
    {% include 'schedule/components/espn-videos.html' with videos=team.videos name=team%}
    <div class="column">
        {% if games %}
            <h3>KU vs {{team.get_styled_name | safe}}</h3>
            <ul>
            {% for game in games %}
                <li><a href="{{game.get_absolute_url}}">{{game.date|date:"n/j"}} - {{game.get_ical_summary}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if team.conference %}
            <h4>{{team.conference}} Conference</h4>
        {% endif %}

        {% if team.espn_link %}
            <h4><a href="{{team.espn_link}}" style="color:#{{team.color}}">{{team.mascot}} ESPN Team Page</a></h4>
        {% endif %}

        {% include 'schedule/components/espn-news.html' %}
    </div>
    {% include 'schedule/components/tweets.html' with tweets=team.get_tweets title=team %}
{% endblock %}